In [1]:
from core.load_data import DownloadDadosTse
from core.utils import solve_path
import pandas as pd

In [2]:
tse = DownloadDadosTse()

In [3]:
boletins = tse('boletins_urna_2t_sp', sep=';', encoding='latin-1')

In [4]:
boletins.sample(5)

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,CD_PLEITO,DT_PLEITO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,...,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,QT_ELEITORES_BIOMETRIA_NH,DT_EMISSAO_BU,NR_JUNTA_APURADORA,NR_TURMA_APURADORA
231254,31/10/2022,15:52:42,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,B037D262,22/09/2022 15:28:00,1 - 54,#NULO#,30/10/2022 08:00:01,30/10/2022 17:04:04,3,30/10/2022 17:05:50,-1,-1
388049,31/10/2022,15:52:42,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,027B3DEB,24/09/2022 09:28:00,1 - 268,#NULO#,30/10/2022 08:00:01,30/10/2022 17:00:04,7,30/10/2022 17:01:44,-1,-1
352619,31/10/2022,15:52:42,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,0180C700,23/09/2022 15:25:00,1 - 97,#NULO#,30/10/2022 08:00:01,30/10/2022 17:01:49,15,30/10/2022 17:04:32,-1,-1
207144,31/10/2022,15:52:42,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,FAF39750,22/09/2022 11:52:00,1 - 42,#NULO#,30/10/2022 08:00:01,30/10/2022 17:01:41,19,30/10/2022 17:04:36,-1,-1
43254,31/10/2022,15:52:42,2022,0,Eleição Ordinária,407,30/10/2022,2,547,Eleições Gerais Estaduais 2022,...,1D0A8417,21/09/2022 13:50:00,3 - 300,#NULO#,30/10/2022 08:00:01,30/10/2022 17:03:01,11,30/10/2022 17:03:15,-1,-1

Filtrar apenas para a cidade de São Paulo

In [5]:
#filtrar por SP
boletins = boletins[boletins['CD_MUNICIPIO']==71072]

In [6]:
boletins['NM_MUNICIPIO'].unique()

array(['SÃO PAULO'], dtype=object)

Verificar se estamos apenas no 2º Turno

In [7]:
boletins['DT_PLEITO'].unique()

array(['30/10/2022'], dtype=object)

In [8]:
boletins['ANO_ELEICAO'].unique()

array([2022])

In [9]:
boletins['NR_TURNO'].unique()

array([2])

Filtrar resultados apenas para eleição presidencial!

In [10]:
boletins['DS_ELEICAO'].unique()

array(['Eleição Geral Federal 2022', 'Eleições Gerais Estaduais 2022'],
      dtype=object)

In [11]:
boletins = boletins[boletins['DS_ELEICAO']=='Eleição Geral Federal 2022']

Apenas urnas apuradas

In [12]:
boletins['DS_TIPO_URNA'].unique()

array(['APURADA'], dtype=object)

In [13]:
boletins

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,CD_PLEITO,DT_PLEITO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,...,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,QT_ELEITORES_BIOMETRIA_NH,DT_EMISSAO_BU,NR_JUNTA_APURADORA,NR_TURMA_APURADORA
0,31/10/2022,15:52:42,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,A836CFA2,22/09/2022 11:04:00,1 - 1,#NULO#,30/10/2022 08:00:01,30/10/2022 17:02:35,46,30/10/2022 17:04:05,-1,-1
1,31/10/2022,15:52:42,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,A836CFA2,22/09/2022 11:04:00,1 - 1,#NULO#,30/10/2022 08:00:01,30/10/2022 17:02:35,46,30/10/2022 17:04:05,-1,-1
2,31/10/2022,15:52:42,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,A836CFA2,22/09/2022 11:04:00,1 - 1,#NULO#,30/10/2022 08:00:01,30/10/2022 17:02:35,46,30/10/2022 17:04:05,-1,-1
3,31/10/2022,15:52:42,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,A836CFA2,22/09/2022 11:04:00,1 - 1,#NULO#,30/10/2022 08:00:01,30/10/2022 17:02:35,46,30/10/2022 17:04:05,-1,-1
8,31/10/2022,15:52:42,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,A836CFA2,22/09/2022 11:11:00,1 - 2,#NULO#,30/10/2022 08:00:01,30/10/2022 17:03:57,33,30/10/2022 17:04:50,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800285,31/10/2022,15:52:42,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,1B7C2705,22/09/2022 11:34:00,1 - 405,#NULO#,30/10/2022 08:00:01,30/10/2022 17:01:47,2,30/10/2022 17:05:33,-1,-1
800290,31/10/2022,15:52:42,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,FB080C3F,25/09/2022 12:43:00,1 - 406,#NULO#,30/10/2022 08:00:01,30/10/2022 17:06:57,3,30/10/2022 17:08:53,-1,-1
800291,31/10/2022,15:52:42,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,FB080C3F,25/09/2022 12:43:00,1 - 406,#NULO#,30/10/2022 08:00:01,30/10/2022 17:06:57,3,30/10/2022 17:08:53,-1,-1
800292,31/10/2022,15:52:42,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,FB080C3F,25/09/2022 12:43:00,1 - 406,#NULO#,30/10/2022 08:00:01,30/10/2022 17:06:57,3,30/10/2022 17:08:53,-1,-1
800293,31/10/2022,15:52:42,2022,0,Eleição Ordinária,407,30/10/2022,2,545,Eleição Geral Federal 2022,...,FB080C3F,25/09/2022 12:43:00,1 - 406,#NULO#,30/10/2022 08:00:01,30/10/2022 17:06:57,3,30/10/2022 17:08:53,-1,-1

In [14]:
boletins[['NR_PARTIDO', 'SG_PARTIDO', 'NM_VOTAVEL', 'NR_VOTAVEL']].drop_duplicates()

   NR_PARTIDO SG_PARTIDO      NM_VOTAVEL  NR_VOTAVEL
0          -1     #NULO#            Nulo          96
1          22         PL  JAIR BOLSONARO          22
2          13         PT            LULA          13
3          -1     #NULO#          Branco          95

In [15]:
boletins['NM_VOTAVEL'].unique()

array(['Nulo', 'JAIR BOLSONARO', 'LULA', 'Branco'], dtype=object)

Calcular a quantidade de votos

In [16]:
cols_interesse = [
    'NR_ZONA',
    'NR_SECAO',
    'NM_VOTAVEL',
    'QT_VOTOS'
]

In [17]:
votos = boletins[cols_interesse].copy()

In [18]:
votos['zona_secao'] = votos['NR_ZONA'].astype(str) + '.' + votos['NR_SECAO'].astype(str)

In [19]:
votos_pivo = votos.pivot(index='zona_secao', columns='NM_VOTAVEL', values='QT_VOTOS')

In [20]:
votos_pivo.columns.name=''

In [21]:
votos_pivo = votos_pivo.reset_index()

In [22]:
votos_pivo['NR_ZONA'] = votos_pivo['zona_secao'].str.split('.').apply(lambda x: x[0])

In [23]:
votos_pivo.head()

  zona_secao  Branco  JAIR BOLSONARO   LULA  Nulo NR_ZONA
0        1.1     8.0           132.0  127.0  12.0       1
1       1.10     2.0            80.0  117.0  13.0       1
2      1.101     3.0           102.0  115.0   1.0       1
3      1.103     1.0           113.0  108.0   9.0       1
4      1.105     5.0           105.0  109.0   7.0       1

In [24]:
cols_votos = [
    'NR_ZONA', 
    'JAIR BOLSONARO',
    'Branco',
    'LULA',
    'Nulo'
]

In [25]:
votos_pivo = votos_pivo[cols_votos].copy()

In [26]:
votos_pivo.rename({col : col.lower().replace(' ', '_') 
                   for col in cols_votos}, axis=1, inplace=True)

In [27]:
votos_pivo.head()

  nr_zona  jair_bolsonaro  branco   lula  nulo
0       1           132.0     8.0  127.0  12.0
1       1            80.0     2.0  117.0  13.0
2       1           102.0     3.0  115.0   1.0
3       1           113.0     1.0  108.0   9.0
4       1           105.0     5.0  109.0   7.0

In [28]:
votos = votos_pivo.groupby('nr_zona').sum().reset_index()

In [29]:
votos.head()

  nr_zona  jair_bolsonaro  branco     lula    nulo
0       1         38733.0  1763.0  68072.0  3780.0
1       2         63525.0  2774.0  79314.0  5822.0
2      20         42845.0  2772.0  80772.0  5511.0
3     246         49575.0  2187.0  37809.0  4462.0
4     247         37995.0  1935.0  42997.0  4356.0

In [30]:
for col in votos.columns:
    votos[col] = votos[col].astype(int)

In [31]:
votos.head()

   nr_zona  jair_bolsonaro  branco   lula  nulo
0        1           38733    1763  68072  3780
1        2           63525    2774  79314  5822
2       20           42845    2772  80772  5511
3      246           49575    2187  37809  4462
4      247           37995    1935  42997  4356

Abstencoes

In [32]:
boletins.keys()

Index(['DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO', 'CD_TIPO_ELEICAO',
       'NM_TIPO_ELEICAO', 'CD_PLEITO', 'DT_PLEITO', 'NR_TURNO', 'CD_ELEICAO',
       'DS_ELEICAO', 'SG_UF', 'CD_MUNICIPIO', 'NM_MUNICIPIO', 'NR_ZONA',
       'NR_SECAO', 'NR_LOCAL_VOTACAO', 'CD_CARGO_PERGUNTA',
       'DS_CARGO_PERGUNTA', 'NR_PARTIDO', 'SG_PARTIDO', 'NM_PARTIDO',
       'DT_BU_RECEBIDO', 'QT_APTOS', 'QT_COMPARECIMENTO', 'QT_ABSTENCOES',
       'CD_TIPO_URNA', 'DS_TIPO_URNA', 'CD_TIPO_VOTAVEL', 'DS_TIPO_VOTAVEL',
       'NR_VOTAVEL', 'NM_VOTAVEL', 'QT_VOTOS', 'NR_URNA_EFETIVADA',
       'CD_CARGA_1_URNA_EFETIVADA', 'CD_CARGA_2_URNA_EFETIVADA',
       'CD_FLASHCARD_URNA_EFETIVADA', 'DT_CARGA_URNA_EFETIVADA',
       'DS_CARGO_PERGUNTA_SECAO', 'DS_AGREGADAS', 'DT_ABERTURA',
       'DT_ENCERRAMENTO', 'QT_ELEITORES_BIOMETRIA_NH', 'DT_EMISSAO_BU',
       'NR_JUNTA_APURADORA', 'NR_TURMA_APURADORA'],
      dtype='object')

In [33]:
cols_interesse = [
    'NR_ZONA',
    'NR_SECAO',
    'QT_APTOS', 
    'QT_COMPARECIMENTO', 
    'QT_ABSTENCOES'
]

In [34]:
abst = boletins[cols_interesse]

In [35]:
abst.head()

   NR_ZONA  NR_SECAO  QT_APTOS  QT_COMPARECIMENTO  QT_ABSTENCOES
0        1         1       370                279             91
1        1         1       370                279             91
2        1         1       370                279             91
3        1         1       370                279             91
8        1         2       387                290             97

In [36]:
len(abst)

105004

A informação da quantidade de aptos e da quantidade de abstenções é por Seção Eleitoral.

Então ela se repete para cada candidato (cada linha são os votos nos candidatos).

Por isso temos que dar um drop duplicates.

In [37]:
abst.duplicated().sum()

78716

In [38]:
abst = abst.drop_duplicates()

In [39]:
abst[['NR_ZONA', 'NR_SECAO']].duplicated().any()

False

In [40]:
abst.head()

    NR_ZONA  NR_SECAO  QT_APTOS  QT_COMPARECIMENTO  QT_ABSTENCOES
0         1         1       370                279             91
8         1         2       387                290             97
16        1         3       385                298             87
24        1         4       385                298             87
32        1         5       385                293             92

In [41]:
cols_votos = [
    'QT_APTOS',
    'QT_COMPARECIMENTO',
    'QT_ABSTENCOES'
]

In [42]:
abst_zona = abst.groupby('NR_ZONA')[cols_votos].sum().reset_index()

In [43]:
abst_zona.head()

   NR_ZONA  QT_APTOS  QT_COMPARECIMENTO  QT_ABSTENCOES
0        1    152763             112348          40415
1        2    196996             151435          45561
2        3     80219              57700          22519
3        4    165153             127249          37904
4        5    126805              95235          31570

In [44]:
abst_zona.rename({col : col.lower() for col in abst_zona.columns},
                axis=1, inplace=True)

In [45]:
abst_zona.head()

   nr_zona  qt_aptos  qt_comparecimento  qt_abstencoes
0        1    152763             112348          40415
1        2    196996             151435          45561
2        3     80219              57700          22519
3        4    165153             127249          37904
4        5    126805              95235          31570

Agora vamos dar o merge entre os dois

In [46]:
len(abst_zona)

58

In [47]:
len(votos)

58

In [48]:
votos_final = pd.merge(abst_zona, votos, on='nr_zona', how='inner')

In [49]:
votos_final.head()

,nr_zona,qt_aptos,qt_comparecimento,qt_abstencoes,jair_bolsonaro,branco,lula,nulo
0,1,152763,112348,40415,38733,1763,68072,3780
1,2,196996,151435,45561,63525,2774,79314,5822
2,3,80219,57700,22519,25295,1020,29166,2219
3,4,165153,127249,37904,69747,2475,49445,5582
4,5,126805,95235,31570,48121,2007,41347,3760

In [50]:
len(votos_final) == len(votos) == len(abst_zona) == 58

True

In [51]:
folder_modelagem = solve_path('dados_modelagem', 'data')
fpath = solve_path('votos_por_zona.csv', folder_modelagem)

In [52]:
votos_final.to_csv(fpath, index=False, sep=';',encoding='utf-8')